<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apply Sort</title>
</head>
<style>
        input {
            background-color: aqua;
            font-size: x-large;
            height: 40px;
            width: 200px;
        }

        #next {
            background-color: coral;
            display: inline-block;
            padding: 20px;
            border: 3px solid black;
            margin-top: 10px;
        }

        a {
            text-decoration: none;
            font-size: larger;
        }

        button {
            width: 30px;
            height: 40px;
        }

        table {
            border-collapse: collapse;
            width: 200px;
            margin-top: 20px;
        }

        td {
            border: 2px solid black;
            color: rgb(255, 0, 174);
            ;
        }

        th {
            font-weight: bold;
            color: blue;
            background-color: hotpink;
        }
        .result {
                display: block;
                text-decoration: none;
                width: 250px;
                height: 30px;
                padding-top: 5px;
                background-color:crimson;
                text-align: center;
                color: white;
                font-weight: bold;
            }
    </style>
</style>
<body>
    <body>

        <table>
            <thead>
                <tr>
                    <th><a href="/sortdata?page=<%= page %>&orderby=id&typing=<%= form %>">id</a></th>
                    <th><a href="/sortdata?page=<%= page %>&orderby=first_Name&typing=<%= form %>">first_name</a></th>
                    <th><a href="/sortdata?page=<%= page %>&orderby=last_Name&typing=<%= form %>">last_name</a></th>
                    <th><a href="/sortdata?page=<%= page %>&orderby=city_Name&typing=<%= form %>">city_name</a></th>
                    <th><a href="/sortdata?page=<%= page %>&orderby=mobile_No&typing=<%= form %>">mobile_no</a></th>
                    <th><a href="/sortdata?page=<%= page %>&orderby=e_mail&typing=<%= form %>">e_mail</a></th>
                </tr>
            </thead>

    
            <tbody>
                <% for(let i=0;i< data.length;i++) {%>
                    <tr>
                        <td>
                            <%= data[i].id %>
                        </td>
                        <td>
                            <%= data[i].first_Name%>
                        </td>
                        <td>
                            <%= data[i].last_Name%>
                        </td>
                        <td>
                            <%= data[i].city_Name%>
                        </td>
                        <td style="padding-left:15px;">
                            <%= data[i].mobile_No%>
                        </td>
                        <td style="padding-left:50px;">
                            <%= data[i].e_mail%>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
          </table>
          <div id="next">
            <% for(let i=1;i<=table_count;i++) {%>
                <button <% if( page == i ) { %>
                    style="background-color:green";
                    <% } %> >
    
    
                    <a href="/sortdata/?page=<%= i %>"><%= i %> </a>

                    
                </button>
                <% } %>
        </div>
        <div>
            <a class="result" href="http://localhost:3000/welcome">Back To Homepage</a>
        </div>
</body>
</html>
